<!DOCTYPE html>
<html lang="en">
<head
  <meta charset="utf-8">
  <meta name="theme-color" content="{{ site.theme_color }}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  {% if page.full_title %}
    <title>{{ page.full_title|raw }}</title>
  {% else %}
    <title>{{ page.title }} &mdash; {{ site.title }}</title>
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{{ site.url }}/favicon.ico">
  <link rel="stylesheet" href="{{ site.url }}/assets/bootstrap.min.css">
  <!--<link rel="stylesheet" href="{{ site.url }}/components/bootstrap/css/bootstrap.min.css">-->
  <link rel="stylesheet" href="{{ site.url }}/components/font-awesome/css/font-awesome.min.css">
  <style>
    body { padding-top: 70px; }
    body.home .row { margin-top: 20px; }
  </style>
</head>
<body class="{{ page.nav }}">

{% block header %}
<header class="site">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ site.url }}/"><img alt="Drupal Media Logo" src="{{ site.url }}/assets/drupal-media-50-clear.png" height="20" /></a>
        <a class="navbar-brand" href="{{ site.url }}/">Drupal Media</a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbar-main">
        <ul class="nav navbar-nav">
          <li {% if page.nav == "home" %} class="active"{% endif %}>
            <a href="{{ site.url }}/">About</a>
          </li>
          <li {% if page.nav == "contribute" %} class="active"{% endif %}>
            <a href="{{ site.url }}/contribute/">Contribute</a>
          </li>
        </ul>
          <form class="navbar-form navbar-right" action="//drupalmedia.us8.list-manage.com/subscribe/post?u=83a2a9febbd49c56694795478&amp;id=40632703cf" method="post" id="mc-embedded-subscribe-form" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
            <div class="mc-field-group form-group">
              <label for="mce-EMAIL" class="sr-only">Email Address </label>
              <input type="email" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL" placeholder="Email" required />
            </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_80eaa86e948880d8e05720a98_a489708aef" tabindex="-1" value=""></div>
            <div class="form-group"><button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default"><i class="fa fa-envelope" aria-hidden="true"></i> Subscribe</button></div>
          </form>
      </div>
    </div>
  </nav>
</header>
{% endblock %}

{% block content_wrapper %}
<section class="content container">
  <div class="row">
    <div class="col-xs-12 col-md-8">
    {% block content %}{% endblock %}
    </div>
    <div class="col-xs-12 col-md-4">
      {% include 'resources.html' %}
      {% include 'events.html' %}
      {% include 'mailing-list.html' %}
    </div>
  </div>
</section>
{% endblock %}

{% block footer %}{% endblock %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="{{ site.url }}/components/jquery/jquery.min.js"></script>
<script defer src="{{ site.url }}/components/bootstrap/js/bootstrap.min.js"></script>
<script defer src="{{ site.url }}/assets/js/gcal-embed-timezone.js"></script>
{% if site.google_analytics_tracking_id %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '{{ site.google_analytics_tracking_id }}', 'auto');
    ga('send', 'pageview');
  </script>
{% endif %}

</body>
</html>
