{% extends "default.html" %}

{% block content_wrapper %}
<section class="content container">
  {% block content %}{% endblock %}
</section>
{% endblock %}

{% block footer %}
<footer class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4">{% include 'resources.html' %}</div>
    <div class="col-xs-12 col-md-4">{% include 'events.html' %}</div>
    <div class="col-xs-12 col-md-4">{% include 'mailing-list.html' %}</div>
  </div>
</footer>
{% endblock %}
