<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Upcoming Events</h3>
  </div>
  <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&showNav=0&showDate=0&showPrint=0&showTabs=0&showCalendars=0&mode=AGENDA&height=300&wkst=2&bgcolor=%23FFFFFF&src={{ site.calendar_id }}&color={{ site.theme_color|escape('url') }}" style="border-width:0" width="100%" height="200" frameborder="0" scrolling="no"></iframe>
</div>
