<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Funding Progress</h3>
  </div>
  <div class="panel-body">
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ site.funding_progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ site.funding_progress }}%; min-width: 2em;">{{ site.funding_progress }}%</div>
    </div>
  </div>
</div>
