<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Join the Mailing List</h3>
  </div>
  <div class="panel-body">
    <p>Subscribe to learn more about current development, major milestones, events, or when we need input from the community.</p>
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
      <form action="//drupalmedia.us8.list-manage.com/subscribe/post?u=83a2a9febbd49c56694795478&amp;id=40632703cf" method="post" id="mc-embedded-subscribe-form" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <div class="mc-field-group form-group">
            <label for="mce-EMAIL" class="sr-only">Email Address </label>
            <input type="email" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL" placeholder="Email" />
          </div>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_80eaa86e948880d8e05720a98_a489708aef" tabindex="-1" value=""></div>
          <div class="form-group"><button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"><i class="fa fa-envelope" aria-hidden="true"></i> Subscribe</div>
        </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
      </form>
    </div>
    <!--End mc_embed_signup-->
  </div>
</div>
