<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Resources</h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <i class="fa fa-book" aria-hidden="true"></i>
      <a href="http://drupal-media.gitbooks.io/drupal8-guide/">Documentation Handbook</a>
    </li>
    <li class="list-group-item">
      <i class="fa fa-github" aria-hidden="true"></i>
      <a href="https://github.com/drupal-media">Github</a>
    </li>
    <li class="list-group-item">
      <i class="fa fa-tasks" aria-hidden="true"></i>
      <a href="http://contribkanban.com/#/sprint/mediaInitiative">Kanban Board</a>
    </li>
    <li class="list-group-item">
      <i class="fa fa-twitter" aria-hidden="true"></i>
      <a href="https://twitter.com/drupalmedia">@drupalmedia</a>
    </li>
    <li class="list-group-item">
      <i class="fa fa-comment"></i>
      <a href="irc://irc.freenode.net/%23drupal-media">#drupal-media IRC</a>
    </li>
    <li class="list-group-item">
      <i class="fa fa-drupal" aria-hidden="true"></i>
      <a href="https://groups.drupal.org/media">Discussion group</a>
    </li>
  </ul>
</div>
